table.info, table.info2, table.details {
    border-collapse: collapse;
    width: 80%;
    margin: auto;
}

.info th {
    width: 50%;
    height: 40px;
    background-color: #4CAF50;
    color: white;
}

.info2 th {
    height: 40px;
    background-color: #4CAF50;
    color: white;
}

.info td, .info2 td {
    text-align: center;
    vertical-align: middle;
}

.info th, .info2 th, .info td, .info2 td {
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.details th, .details td {
    border-bottom: 0px;
}

td.list {
    text-align: left;
    padding-left: 20px;
}

.info tr:hover, .info2 tr:hover {
    background-color: #f5f5f5;
}